<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="poloCoach"
          class="com.luv2code.annotations.PoloCoach" >
    </bean>

    <bean id="snookerCoach"
          class="com.luv2code.annotations.SnookerCoach" >
    </bean>

    <bean id="tennisCoach"
          class="com.luv2code.annotations.TennisCoach" >
    </bean>

    <bean id="genericCoach"
          class="com.luv2code.annotations.TennisCoach" >
    </bean>




    <!--
        NOTE TO ME !! Original project (in Eclipse) is luv2code.com ... but in IntelliJ is com.luv2code ...
    -->

    <!-- add entry to enable component scanning -->
    <context:component-scan base-package="com.luv2code.annotations" />


    <!-- Needed when it gets to the position where Spring scans the code for annotations ??? -->


    <!--
    <context:property-placeholder location="classpath:sport.properties"/>
 -->


</beans>





