<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Injectable dependency -->
    <bean    id="aHappyFortuneService"
          class="com.luv2code.annotations.HappyFortuneService">
    </bean>

    <bean    id="aSadFortuneService"
          class="com.luv2code.annotations.SadFortuneService">
    </bean>


    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Snooker coach gets via constructor injection -->
    <bean id="snookerCoach"
          class="com.luv2code.annotations.SnookerCoach"
          init-method="initSnooker"
          destroy-method="destroySnooker">
        <property name="fs" ref="aSadFortuneService"/>
    </bean>

    <!-- Tennis coach gets via SETTER injection -->
    <bean id="tennisCoach"
          class="com.luv2code.annotations.TennisCoach"
          scope="prototype">
                <constructor-arg ref="aHappyFortuneService"/>
                <property name="team" value="${cc.team}"/>
    </bean>




    <!-- Here to illustrate that this bean goes through the motions, even though it's never called/used in code -->
    <bean id="nonesuch"
          class="com.luv2code.annotations.TennisCoach" >
        <constructor-arg ref="aSadFortuneService"/>
    </bean>

    <bean id="genericCoach"
          class="com.luv2code.annotations.TennisCoach" >
    </bean>




    <!--
        NOTE TO ME !! Original project (in Eclipse) is luv2code.com ... but in IntelliJ is com.luv2code ...
    -->

    <!-- add entry to enable component scanning -->
    <context:component-scan base-package="com.luv2code.annotations" />


    <!-- Needed when it gets to the position where Spring scans the code for annotations ??? -->


    <!--
    <context:property-placeholder location="classpath:sport.properties"/>
 -->


</beans>





